DEBUG={{ GAMMA_DEBUG }}

# Celery
CELERY_BROKER_URL={{ GAMMA_CELERY_BROKER_URL }}
CELERY_RESULT_BACKEND={{ GAMMA_CELERY_RESULT_BACKEND }}

# DB
DB_ENGINE={{ GAMMA_DB_ENGINE }}
DB_NAME={{ GAMMA_DB_NAME }}
DB_USER={{ GAMMA_DB_USER }}
DB_PASSWORD={{ GAMMA_DB_PASSWORD }}
DB_HOST={{ GAMMA_DB_HOST }}
DB_PORT={{ GAMMA_DB_PORT }}

MONGO_URL={{ GAMMA_MONGO_URL }}
MONGO_DATABASE={{ GAMMA_MONGO_DATABASE }}

# Django
# For devstack use DJANGO_SETTINGS_MODULE=gamma.settings.devstack
DJANGO_SETTINGS_MODULE={{ GAMMA_DJANGO_SETTINGS_MODULE }}

# EDX integrarion
EDX_LMS_BASE_URL={{ GAMMA_EDX_LMS_BASE_URL }}
EDX_API_KEY={{ GAMMA_EDX_API_KEY }}

SENTRY_DSN={{ GAMMA_SENTRY_DSN }}
SENTRY_ENV={{ GAMMA_SENTRY_ENV }}
SENTRY_SERVER_NAME={{ GAMMA_SENTRY_SERVER_NAME }}
SENTRY_RELEASE={{ GAMMA_SENTRY_RELEASE }}

DJANGO_ADMIN_EMAIL={{ GAMMA_DJANGO_ADMIN_EMAIL }}
DJANGO_ADMIN_USER={{ GAMMA_DJANGO_ADMIN_USER }}
DJANGO_ADMIN_PASS={{ GAMMA_DJANGO_ADMIN_PASS }}

APP_KEY={{ GAMMA_APP_KEY }}
APP_SECRET={{ GAMMA_APP_SECRET }}
