[program:celerybeat]
environment={% if COMMON_ENABLE_NEWRELIC_APP %}NEW_RELIC_APP_NAME={{ celery_beat_service_name }},NEW_RELIC_LICENSE_KEY={{ NEWRELIC_LICENSE_KEY }},{% endif -%}LOGLEVEL=info,DJANGO_SETTINGS_MODULE={{ COMMON_EDXAPP_SETTINGS }},PYTHONPATH={{ COMMON_APP_DIR }}/edxapp/edx-platform,SERVICE_VARIANT={{ EDXAPP_CELERY_BEAT.service_variant }}
user={{ common_web_user }}
directory={{ COMMON_APP_DIR }}/edxapp/edx-platform
stdout_logfile={{ supervisor_log_dir }}/%(program_name)s-stdout.log
stderr_logfile={{ supervisor_log_dir }}/%(program_name)s-stderr.log

command={{ COMMON_APP_DIR + '/edxapp/venvs/edxapp/bin/newrelic-admin run-program ' if EDXAPP_CELERY_BEAT.monitor and COMMON_ENABLE_NEWRELIC_APP else ''}}{{ COMMON_APP_DIR }}/edxapp/venvs/edxapp/bin/python {{ COMMON_APP_DIR }}/edxapp/edx-platform/manage.py {{ EDXAPP_CELERY_BEAT.service_variant }} --settings={{ COMMON_EDXAPP_SETTINGS }} celery beat --loglevel=info --pidfile={{ EDXAPP_CELERY_BEAT.pid_file }} -s {{ EDXAPP_CELERY_BEAT.beat_file }}
killasgroup=true
stopwaitsecs={{ EDXAPP_CELERY_BEAT.stopwaitsecs | default(900) }}
