---
- include: edx-awx-start-update.yml

- include: edx_single.yml

- import_role: 
    name: user_retirement_pipeline
  when: COMMON_RETIREMENT_SERVICE_SETUP

#- import_role:
#    name: edx-user-attr

- import_role:
    name: rg-nginx
  vars:
    nginx: yes
    nginx_ssl: no
    nginx_letsencrypt: no
    nginx_letsencrypt_setup: no
    insights: no

- import_role:
    name: rg-nginx
  vars:
    nginx: no
    nginx_ssl: no
    nginx_letsencrypt: yes
    nginx_letsencrypt_setup: yes
    insights: no
  when: use_letsencrypt

- import_role:
    name: rg-nginx
  vars:
    nginx: yes
    nginx_ssl: yes
    nginx_letsencrypt: yes
    nginx_letsencrypt_setup: no
    insights: no
  when: use_letsencrypt

- import_role:
    name: filebeat

- include: edx-backup-duplicity.yml

- include: edx-zabbix-single.yml

- include: edx-awx-stop-update.yml
